/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  height: 170px;
  margin-top: 40px;
  background-color: var(--principal);
}

.footer-redes-sociais,
.footer-contatos {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer-titulo-redes-sociais,
.footer-titulo-contatos {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  color: var(--branco);
}

.container-icons {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.footer-icons:hover {
  color: var(--secundaria);
}

.container-contatos,
.container-redes-sociais {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.contato,
.rede-social {
  display: flex;
  align-items: center;
}

.footer-rede-social-icons {
  font-size: 24px;
  color: var(--branco);
  transition-duration: 0.5s;
}

.footer-rede-social-icons:hover {
  color: var(--secundaria);
}

.footer-contato-icons {
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  border: 1px solid var(--branco);
  color: var(--branco);
  background-color: var(--principal);
  transition-duration: 0.5s;
}

.footer-contato-icons:hover {
  border-color: var(--secundaria);
  color: var(--secundaria);
}

.footer-redes-sociais a {
  text-decoration: none;
}

.texto {
  margin-left: 6px;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  color: var(--branco);
}

.texto:hover {
  color: var(--secundaria);
}