:root {
  --principal: #0F586C;
  --secundaria: #F38605;
  --branco: #FFFFFF;
  --preto: #000000;
  --botoes-nav-menu: 2;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  /* 
  MENU ABERTO: altura nav + altura nav-menu + altura extra 
  
  MENU FECHADO: altura nav + altura extra
  */
  margin-top: calc(100px + 20px);
}