/* CONTEUDO MAIN */

.vistos-texto {
  text-align: center;
  font-size: 2em;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}

.grid {
  display: grid;
  justify-content: center;
  gap: 40px;
}

.container-pais {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 320px;
  overflow-y: hidden;
}

.pais-nome {
  padding: 10px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  background-color: var(--principal);
  color: var(--branco);
}

.wrapper-imagens {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.wrapper-imagens img {
  width: 100vw;
  height: 250px;
}

.imagens-buttons {
  display: flex;
  align-items: center;
}

.anterior-button,
.proximo-button {
  position: absolute;
  font-size: 22px;
  padding: 6px 9px 6px 9px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: var(--branco);
  color: var(--secundaria);
  cursor: pointer;
  transition-duration: 0.5s;
}

.anterior-button:hover,
.proximo-button:hover {
  opacity: 0.9;
}

.anterior-button {
  left: 8px;
}

.proximo-button {
  right: 8px;
}

.pais-footer {
  width: 100%;
  height: 20px;
  background-color: var(--secundaria);
}