/* CONTEUDO MAIN */

.carrossel-requisitos {
  overflow-x: auto;
  width: 95vw;
}

.wrapper {
  display: flex;
  overflow: hidden;
}

.container-informacoes {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid var(--principal);
  border-radius: 5px;
  margin-left: 5vw;
  margin-right: 5vw;
  min-width: 90vw;
  box-sizing: border-box;
}

.titulo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--branco);
  background-color: var(--principal);
}

.container-informacoes p {
  margin-right: 12px;
  margin-left: 12px;
}

.requisitos-titulo {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 12px;
}

.lista {
  padding-inline-start: 30px;
  margin-right: 10px;
  list-style-type: disc;
}

.lista li {
  margin: 2vh;
}

.informacoes-buttons {
  position: absolute;
  top: 30%;
}

.anterior-button,
.proximo-button {
  position: fixed;
  font-size: 22px;
  padding: 15px 9px 15px 9px;
  background-color: var(--secundaria);
  color: var(--branco);
  cursor: pointer;
  transition-duration: 0.5s;
}

.anterior-button {
  border-radius: 0 10px 10px 0;
  left: 0;
}

.proximo-button {
  border-radius: 10px 0 0 10px;
  right: 0;
}

.formulario-button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5vh;
  width: 60vw;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  border: 2px solid var(--secundaria);
  border-radius: 5px;
  color: var(--branco);
  background-color: var(--principal);
}

/* TABLET */
@media screen and (min-width: 600px) {
  
}

/* LAPTOP */
@media screen and (min-width: 769px) {

}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  
}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
  
}