/* CONTEUDO MAIN */

.carrossel-requisitos {
  overflow-x: auto;
  width: 95vw;
}

.wrapper {
  display: flex;
}

.turismo-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid var(--principal);
  padding: 0 5vw;
  margin-left: 5vw;
  min-width: 90vw;
  box-sizing: border-box;
}

.lista {
  list-style-type: disc;
}

.lista li {
  margin-bottom: 1vh;
}

.formulario-button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5vh;
  width: 60vw;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  border: 2px solid var(--secundaria);
  border-radius: 5px;
  color: var(--branco);
  background-color: var(--principal);
}