/* CONTEUDO MAIN */

.vistos-texto {
  text-align: center;
  font-size: 2em;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}

.grid {
  display: grid;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
}

.container-pais {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 320px;
  overflow: hidden;
}

.pais-nome {
  padding: 10px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  background-color: var(--principal);
  color: var(--branco);
}

.wrapper-imagens {
  display: flex;
  overflow: hidden;
}

.wrapper-imagens img {
  width: 100vw;
  height: 250px;
}

.imagens-buttons {
  display: flex;
}

.anterior-button,
.proximo-button {
  position: absolute;
  top: 50%;
  font-size: 22px;
  padding: 6px 9px 6px 9px;
  opacity: 0.5;
  border-radius: 50%;
  background-color: var(--branco);
  color: var(--secundaria);
  cursor: pointer;
  transition-duration: 0.5s;
}

.anterior-button:hover,
.proximo-button:hover {
  opacity: 0.9;
}

.anterior-button {
  left: 2vw;
}

.proximo-button {
  left: calc(100vw - 42px);
}

.owl-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 88%;
  width: 100vw;
  gap: 5px;
}

.owl-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  outline: none;
  background: var(--branco);
  margin: 0 3px;
  transition-duration: 0.5s;
}

.owl-dots button.ativo {
  background-color: var(--secundaria);
  transform: translateY(-3px);
}

.pais-footer {
  width: 100%;
  height: 20px;
  background-color: var(--secundaria);
}

/* TABLET */
@media screen and (min-width: 600px) {
  
}

/* LAPTOP */
@media screen and (min-width: 769px) {
  .grid {
    gap: 12vh;
  }

  .container-pais {
    height: 600px;
  }

  .wrapper-imagens img {
    height: 540px;
  }

  .anterior-button,
  .proximo-button {
    font-size: 26px;
    padding: 8px 12px 8px 12px;
  }

  .proximo-button {
    left: calc(100vw - 60px);
  }

  .pais-footer {
    height: 30px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  .grid {
    gap: 15vh;
  }

  .container-pais {
    height: 800px;
  }

  .wrapper-imagens img {
    height: 700px;
  }

  .anterior-button,
  .proximo-button {
    font-size: 28px;
    padding: 10px 14px 10px 14px;
  }

  .proximo-button {
    left: calc(100vw - 60px);
  }

  .pais-footer {
    height: 30px;
  }
}

/* GRANDES TELAS */
@media screen and (min-width: 1200px) {
  .container-pais {
    height: 120vh;
  }

  .wrapper-imagens img {
    height: 110vh;
  }

  .anterior-button,
  .proximo-button {
    font-size: 32px;
    padding: 12px 16px 12px 16px;
  }

  .proximo-button {
    left: calc(100vw - 75px);
  }
}